@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Inconsolata", monospace;
}

body {
  background: url(./assets/images/background-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 30px;
  /*  */
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; */
}
.flex {
  display: flex;
}

.container {
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  background-image: url(./assets/images/pattern-lines.svg),
    url(./assets/images/pattern-circle.svg),
    url(./assets/images/pattern-squiggly-line-bottom-desktop.svg),
    url(./assets/images/pattern-squiggly-line-top.svg);

  background-position: center, top left, bottom left, top right;
  background-size: 100% auto, 150px 150px, 500px auto, 400px 300px;

  background-repeat: no-repeat;
  padding-top: 80px;
  margin-top: -80px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

form {
  /* display: none; */
  width: 70%;
  margin: 0 auto;
}

.body {
  background-image: url(./assets/images/pattern-squiggly-line-top.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
}

.title {
  margin-bottom: 50px;
  justify-content: center;
}
.titleText {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainTitle {
  width: 70%;
  text-align: center;
  margin-bottom: 10px;
}
.subtitle {
  color: hsl(252, 6%, 83%);
}
#avatarUpload {
  display: none;
}
.uploadImages {
  padding-top: 10px;
  width: 50%;
  margin: 20px auto;
}
.uploadAvatar {
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px dashed hsla(252, 6%, 83%, 0.671);
  border-radius: 10px;
  background-color: hsla(252, 6%, 83%, 0.178);
}
.click:hover {
  color: gray;
  cursor: pointer;
}

.upload-icon_container {
  padding: 5px 10px;
  background-color: hsla(252, 6%, 83%, 0.164);
  border-radius: 10px;
  margin-bottom: 15px;
}
.uploadHint {
  align-items: center;
  text-align: center;
  font-size: 12px;
  column-gap: 3px;
  color: hsl(252, 6%, 83%);
}

.inputField {
  width: 50%;
  margin: 20px auto;
  margin-bottom: 50px;
  flex-direction: column;
}

.inputType {
  flex-direction: column;
  row-gap: 7px;
  margin-bottom: 20px;
}

.input {
  border: 1px solid rgba(255, 255, 255, 0.397);
  border-radius: 10px;
  background: hsla(252, 6%, 83%, 0.164);
  padding: 15px;
  padding-left: 10px;
}

button,
.new-ticket {
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.397);
  border-radius: 10px;
  background: hsla(7, 71%, 60%);
  color: hsl(248, 70%, 10%);
  font-weight: 900;
  cursor: pointer;
}
.new-ticket {
  margin-top: 50px;
}
#avatarUpload {
  display: none;
}

.active {
  border: 2px solid rgba(255, 255, 255, 0.76);
  border-radius: 13px;
  padding: 1.5px;
}

.imageDropped {
  width: 30%;
  background: none;
  border-radius: 8px;
}

.upload-icon_container img {
  width: 100%;
}

.editParent {
  display: flex;
  width: 100%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.remove {
  padding: 8px;
  background-color: hsla(252, 6%, 83%, 0.164);
  color: hsla(252, 6%, 83%, 0.904);
  width: 35%;
  text-align: center;
  border-radius: 5px;
  text-decoration: underline;
}
.change {
  margin-left: 7px;
  padding: 8px;
  background-color: hsla(252, 6%, 83%, 0.164);
  color: hsla(252, 6%, 83%, 0.904);
  width: 35%;
  font-family: 12px;
  text-align: center;
  border-radius: 5px;
}
.attribution {
  margin: 30px auto;
  font-size: 12px;
  align-self: center;
  margin-bottom: 10px;
  width: 30%;
}

.error {
  font-size: 11px;
  color: hsl(7, 86%, 67%);
  display: flex;
  align-items: center;
  gap: 5px;
}

.fields {
  border-color: hsl(7, 86%, 67%);
}

/* Ticket styles */
.T-wrapper {
  display: none;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.T-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* max-width: 800px; */
  margin: 0 auto;
  /* border: 2px solid green; */
}

.T-title {
  margin-bottom: 50px;
}

.align {
  width: 40%;
  text-align: center;
  align-items: center;
}

.text {
  margin-top: 30px;
  width: 30%;
}

.ticket-container {
  background-image: url(./assets/images/pattern-ticket.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 60px auto 20px auto;
  font-size: 10px;
  padding: 10px;

  width: 30%;
  max-width: 650px;
  /* border: 2px solid red; */
}

#ticket-name {
  background-image: linear-gradient(
    to right,
    hsl(7, 86%, 67%),
    hsl(0, 0%, 100%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ticketEmailAddress {
  color: hsl(7, 88%, 67%);
}

.ticket-heading,
.ticketInformation,
.ticket-gitHub {
  gap: 10px;
  align-items: center;
}
.ticket-gitHub {
  gap: 5px;
}
.ticketInformation {
  margin-top: 20px;
  align-items: center;
}
.flex {
  display: flex;
}
.ticket-image-container {
  width: fit-content;
}
.ticket-image {
  width: 50px;
  height: 55px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  padding-bottom: 5px;
}

/* Mobile Version */

/* --- Media Queries for Smaller Screens --- */

@media (max-width: 768px) {
  /* Styles for tablets and smaller desktops */
  .container {
    /* padding: 10px; */
    max-width: 100%;
  }
  #form {
    width: 100%;
  }
  .title {
    margin-bottom: 30px;
  }
  .title-image {
    margin-top: 20px;
  }
  .mainTitle {
    width: 100%;
    font-size: 30px;
  }
  .subtitle {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
  }
  .uploadImages {
    width: 95%;
  }
  .inputField {
    width: 95%;
  }
  .attribution {
    margin-bottom: 10px;
    width: 80%;
  }
}

@media (max-width: 375px) {
  /* Styles for mobile phones */
  body {
    margin-top: 15px;
  }
  .container {
    background-image: url(./assets/images/pattern-lines.svg),
      url(./assets/images/pattern-circle.svg),
      url(./assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg),
      url(./assets/images/pattern-squiggly-line-top.svg);
    background-position: top, top left, bottom left, top right;
    background-size: 257% auto, 120px 150px, 250px auto, 120px 190px;
  }
  #form {
    width: 100%;
  }
  .title {
    margin-bottom: 30px;
  }
  .title-image {
    margin-top: 20px;
  }
  .mainTitle {
    width: 100%;
    font-size: 30px;
  }
  .subtitle {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
  }
  .uploadImages {
    width: 95%;
  }
  .inputField {
    width: 95%;
  }
  .attribution {
    margin-bottom: 10px;
    width: 80%;
  }

  .T-title {
    margin-bottom: 30px;
  }
  .align {
    font-size: 27px;
    width: 95%;
  }

  .text {
    margin-top: 30px;
    font-size: 20px;
    width: 90%;
  }
  .ticket-container {
    width: 90%;
  }
}
